@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

:root {
    --corHeader: #0051ff;
    --corBG: #DCE4F2;
    --corBGVideo: rgb(92, 92, 92);
    --corAmarelo: rgb(229, 255, 79);
    --corMain: rgb(246, 246, 246);
    --corStrong: #3a7404;
    --corHover: rgb(255, 196, 0);
    --corFooter: #252525;
    --corFontFooter: rgb(165, 165, 165);

    --fontePadrao: Arial, Verdana, Helvetica, sans-serif;
    --fonteDestaque: Bungee Shade, Impact, Arial, sans-serif;
    --fontSlogan: Special Elite, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url(imagens/texture-bg.jpeg);
    background-size: auto;
    background-color: var(--corBG);
    font-family: Arial, Helvetica, sans-serif;
}
p {
    text-indent: 40px;
    margin: 15px 20px 15px 20px;
    text-align: justify;
    line-height: 1.3em;
}
header{
    background-image: url(imagens/paper-blue.jpg);
    background-size: contain;
    
    min-height: 230px;
    text-align: center;
    
}
header > h1 {
    font-family: var(--fonteDestaque);
    text-shadow: -1px 1px 20px rgb(245 251 255);
    font-size: 2.2em;
}
header > h1:hover {
    transition: 1s;
    text-shadow: -1px 1px 20px rgb(0, 234, 255);
}
header > p {
    font-family: var(--fontSlogan);
    color: white;
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
}
header > p:hover {
    transition: 1s;
    text-shadow: 0px 0px 10px rgb(159, 236, 255);
}
nav {
    background-color: rgba(34, 34, 34, 0.781);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.13);
    min-height: 25px;
    text-align: center;
    margin-top: 53px;
    padding-top: 10px;
    
}
nav > a {
    text-decoration: none;
    font-weight: bold;
    margin-right: 70px;
    color: rgb(235, 235, 235);
    font-family: var(--fontePadrao);
    padding: 10px 2px;
}
nav > a:hover {
    background-color: rgb(255, 243, 82);
    color: black;
    padding: 10px 2px;
    transition: 0.6s;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.096);
}
main {
    background-color: var(--corMain);
    margin: auto;
    min-width: 300px;
    max-width: 850px;
    padding: 20px;
    box-shadow: -1px 8px 7px rgb(0 0 0 / 45%);
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main strong {
    color: rgb(85, 122, 10);
    font-weight: bold;
    padding: 5px 2px 5px 2px;
}
main strong:hover {
    background-color: rgba(132, 230, 255, 0.411);
    padding: 5px 2px 5px 2px;
    transition: 0.5s;
}
main a {
    text-decoration: none;
    font-weight: none;
    color: var(--corBG);
    background-color: rgb(47, 96, 255);
    padding: 1.0px;
    border-radius: 3px;
}
main a:hover {
    color: rgb(251, 255, 34);
}
main h1, h2 {
    font-family: var(--fonteDestaque);
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0.185), var(--corMain));
    padding: 1px 1px 1px 10px ;
    border-radius: 5px;
}
main img {
    width: 100%;
}
main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}
div.video {
    background-color: rgb(46, 46, 46);
    margin: 0px -20px 20px -20px;
    padding: 10px;
    padding-bottom: 58%;
    box-shadow: inset 1px 1px 5px 3px rgba(0, 0, 0, 0.589);
    position: relative;
}
div.video >iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside {
    background-color: rgb(229, 235, 198);
    padding: 10px;
    border-radius: 10px;
}
aside > h3 {
    background-color: grey;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
abbr {
    text-decoration: none;
}
a.externo::after {
    content:'\00A0\1F517';
}
footer {
    background-color: var(--corFooter);
    color: white;
    text-align: center;
    padding: 1px;   
}
footer a {
    text-decoration: none;
    color: rgb(255, 230, 0);
    text-align: center;
}
footer p {
    text-decoration: none;
    color: white;
    text-align: center;
}